BASE_URL=base url of your skill folder

PROMPTFOO_DISABLE_TELEMETRY=1

GRAPH_PATH=ast.dot
OPA_AST_PATH=ast.json
DATA_DIR=assets/opa/
POLICY_DIR=assets/
POLICY_PATH=policy.rego
BACKUP_NAME='tmp'
GRAPH_SUGGESTION_PATH=graph_suggestion.txt

# for red feedback update
MALICIOUS_COMMANDS=commands.txt
CLUSTER_RESULTS=cluster_results.txt
RED_FEEDBACK_ANALYSIS_RESULT='red_feedback_output.txt'
MODIFIED_POLICY_RED=red_policy.rego

# for duplication feedback update
MODIFIED_POLICY_DEDUPLICATE=deduplicate_policy.rego

# for regal feedback update
REGAL_RESULT_OUTPUT=regal_result_output.txt
MODIFIED_POLICY_REGAL=regal_policy.rego
REGAL_SUGGESTION_PATH=regal_suggestion.txt

# test paths
BAD_COMMAND_PATH=tests/inputs/bad_commands
BENIGN_COMMAND_PATH=tests/inputs/benign_commands
UNLABEL_COMMAND_PATH=policy_agent/red_feedback/tests
TEST_PATH=tests/integration/
TEST_RESULT_PATH=scorecard_summary.txt

MODEL_SONNET=GCP/claude-4-sonnet
MODEL=GCP/claude-opus-4
TEMP=0.2
TOP_P=0.9
OPENAI_API_KEY=your api key
OPENAI_BASE_URL=your base url

# GUIDANCE_FILE=references/guidance.txt
# SYSTEM_VAR_FILE=references/system_vars.json
# TEST_CASE_TEMPLATE=references/test_case_template.json
# PROMPTFOO_CONFIG_FILE=references/promptfooconfig.yaml
# PROMPTFOO_OUTPUT_FILE=references/redteam.yaml

GUIDANCE_FILE=mcp_servers/bibliomantic-mcp-server/smith/guidance_test1.txt
SYSTEM_VAR_FILE=mcp_servers/bibliomantic-mcp-server/smith/system_vars.json
TEST_CASE_TEMPLATE=references/test_case_template.json
PROMPTFOO_CONFIG_FILE=mcp_servers/bibliomantic-mcp-server/smith/promptfooconfig1.yaml
PROMPTFOO_OUTPUT_FILE=mcp_servers/bibliomantic-mcp-server/redteam1.yaml

TEST_GENERATION_PATH=scripts/test_generation/
DECOMP_FILE=references/decomp_file.json
FLATTEN_FILE=references/decomp_flatten_file.json
ATTACK_FILE_CSV=ares/assets/safety_behaviors_text_subset.csv
VARS_FILE=references/vars_file.json
ATTACK_FILE=references/decomp_attack_file.json
ATTACK_FILE_PROMPT=references/decomp_attack_file_promptfoo.json
CASE_FILE=references/test_cases.json
FINAL_TEST_CASES=references/test_cases/
GREY_GUIDANCE_FILE=references/grey_guidance.json

BATCH_PROCESSING=true
BATCH_SIZE=10

ARES_HOME=url yo your ares project directory

